.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.lista{

  display: flex;
  flex-direction: row;
  width: 50%;
  margin: auto;
  justify-content:space-around ;
  margin-top: 5em;
}

.lista section{
  color: red;
}

.lista p{
  color: black;
}

.condominio{
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: auto;
  
}

.condominio input{
  height: 3vh;
  width: 50%;
  text-align: center;
  margin:1em auto;
}

.condominio input::placeholder{
  text-align: center;
}

.condominio input:focus{

  border: 0.5em solid red;
}

.condominio button{
  background-color: black;
  color: white;
  height: 3em;
  width: 50%;
  cursor: pointer;
  margin:2em auto;
}

.condominio button:hover{
  background-color: gray;
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
